body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  background-color: purple;
}

.app{
  background-color: #fff;
  max-width: 600px;
  width: 60vw;
  margin: 20px auto 30px ;
  padding: 10px;
  border-radius: 20px;
}
header{
    text-align: center;
    font-size: 2rem;
}

main {
  background-color: whitesmoke;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

main .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
  padding: 10px;
}

.info{
  margin-top: 0;
  padding: 0 40px 10px;
  color: rgb(92, 10, 10);
}

h2{
  font-size: 1.5rem;
}

.pee{
  font-size: 1rem;
  font-weight: 700;
}

button{
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
  background-color: rgb(245, 224, 185);
}
svg{
  color: red;
}

@media screen and (max-width: 600px) {
  .app {
      width: 80vw;
  }
}

@media screen and (max-width: 452px) {
  .app {
    width: 90vw;
  }
}